.DS_Store
build
docs/build
dragon_inference.egg-info
.idea
*.fits
.idea
skeleton.py

*.pyc

# Removing all __pycache__
dragon_inference/dragon_analysis/__pycache__
dragon_inference/inference/__pycache__
dragon_inference/utils/__pycache__
dragon_inference/galaxy_inference/__pycache__
dragon_inference/frontend/__pycache__
dragon_inference/hsc_downloader/__pycache__